<!-- Code with curley brackets is flask and flask template logic which inherits code from base.html. -->
{% extends 'base.html' %} {% block content %}

<!-- Enter Player Name and Start Game Button -->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading text-center">
                <h2>Enter Player Name</h2>
                <br>
                <div class="d-flex justify-content-center align-items-center container">
                    <form method="POST" class="form-inline">
                        <input type="text" class="form-control" placeholder="player name" name="username" id="username" autofocus>
                </div>
                <div class="d-flex justify-content-center align-items-center container">
                    <div class="text-center">
                        <button class="btn btn-basic">Start Game</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}