<!-- Template logic inheriting from base.html  -->
{% extends 'base.html' %} {% block content %}

<!-- Game page heading --!>
<div class="mx-auto" style="width: 330px;">
    <h2>Enter Player Name</h2>
    <p></p>
</div>

<!-- Enter player name form -->
<div class="mx-auto" style="width: 250px;">
    <form method="POST" class="form-inline">
        <input type="text" class="form-control" placeholder="player name" name="username" id="username" autofocus>
        <p></p>
</div>

<!-- Start game button -->
<div class="mx-auto" style="width: 193px;">
    <button class="btn btn-basic">Start Game</button>
    </form>
</div>

{% endblock %}
