<!-- Template logic inheriting from base.html  -->
{% extends 'base.html' %} {% block content %}


<div class="mx-auto" style="width: 425px;">
    <h2>Enter Player Name</h2>
    <p></p>
</div>

<div class="mx-auto" style="width: 325px;">
    <!-- FORM -->
    <form method="POST" class="form-inline">
        <input type="text" class="form-control" placeholder="player name" name="username" id="username" autofocus>
        <p></p>
</div>

<div class="mx-auto" style="width: 265px;">
    <button class="btn btn-primary">Start Game</button>
    </form>
</div>

{% endblock %}
