<!-- Template logic inheriting from base.html  -->
{% extends 'base.html' %} {% block content %}

<body>

    <div class="row"></div>
    <!-- Welcome message -->
    <div class="col-12 text-center">
        <h4 class="username">Hello {{username}}, input your answer and select submit.</h4>
    </div>

    <div class="row" style="height: 10px"></div>
    <!-- Riddles questions and answers, json data-->
    <div class="col-12 text-center" style="color:grey">
        <h5> {{ riddles_data[riddle_index]["description"] }} </h5>
    </div>

    <div class="row" style="padding-top: 50px;">
        <!-- Player name heading and list of names -->
        <div class="col" style="padding-left: 125px;">
            <h5>Player/s</h5>
            {% for user in game_players %}
            <li>{{user}}</li>
            {% endfor %}
        </div>
        <div class="col" style="padding-right: 50px;">
            <!-- Enter answer form -->
            <form method="POST" class="form-inline">
                <input type="text" class="form-control" placeholder="answer" name="message" id="message" autofocus>
                <input type="hidden" name="riddle_index" id="riddle_index" value={{riddle_index}}>
                    <p style="padding-left: 50px">
                        <button class="btn btn-basic">Submit</button>
                    </p>
            </form>
        </div>
        <!-- Incorrect answers player name/s and answer/s -->
        <div class="col">
            <h5>Incorrect Answers</h5>
            {% for message in incorrect_answers %}
            <li>{{message}}</li>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}
