<!-- Template logic inheriting from base.html  -->
{% extends 'base.html' %} {% block content %}


<body>
    <!-- Welcome message and Riddle -->
    <div class="text-center" style="width: 1250px; height: 50px">
        <h4 class="username">Hello {{username}}, input your answer (all lowercase text or a number) and select submit.</h4>
    </div>

    <!-- riddles.json data-->
    <div class="text-center" style="width: 1250px; height: 75px">
        <h5> {{ riddles_data[riddle_index]["description"] }} </h5>
    </div>

</body>

{% endblock %}


<!-- <div class="mx-auto" style="width: 1250px; height: 75px"> -->
